<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <link rel="stylesheet" th:href="style.css" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2>List of cars</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">id</td>
        <td th:text="${car.name}">name</td>
        <td th:text="${car.price}">price</td>
    </tr>
</table>

</body>
</html>